*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  max-width: 2556px;
  width: 80%;
  margin: auto;
}

.jumbotron {
  margin: 0;
}

.jumbotron .image {
  max-width: 100%;
}

.scroll-fix::before {
  display: block;
  margin-top: -83.35px;
  height: 83.35px;
  content: "";
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: red;
}

nav {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-transform: uppercase;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav a,
nav i {
  color: #080808;
  text-decoration: none;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #000000;
}

nav i {
  padding: 30px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .navbar-brand img {
  margin-top: 10px;
  max-width: 100px;
}

nav .active {
  color: #5917f3;
}

nav .fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.shadow-bg {
  background-color: #f7f7f7;
}

#prices {
  background-color: #f9f9f9;
}

#prices .jumbotron {
  background-color: #f9f9f9;
}

#prices .jumbotron .wrapper {
  max-width: 2560px;
  width: 85%;
  margin: 0 auto;
}

#prices .jumbotron .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(156, 146, 146, 0.6);
  box-shadow: 5px 5px 5px rgba(156, 146, 146, 0.6);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#prices .jumbotron h2 {
  font-size: 34px;
  margin-top: 50px;
}

#prices .jumbotron span {
  font-weight: bold;
}

#prices .jumbotron p {
  font-size: 12px;
}

header {
  color: #791919;
  overflow: hidden;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 230px;
  color: #ffffff;
  visibility: 70%;
}

header .hero-img {
  position: relative;
  height: 66vh;
  background-image: url(/img/bydgoszcz-418818_1920.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-img-price {
  position: relative;
  height: 100vh;
  background-image: url(/img/work-5382501_1280.jpg);
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-text {
  color: #f7f7f7fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 98%;
  text-align: center;
}

header .hero-text h1 {
  font-size: 20px;
  padding: 15px;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

#aboutus .jumbotron {
  background-color: #f7f7f7;
}

#aboutus .fit-image {
  max-width: 100%;
}

#aboutus-hero .jumbotron {
  position: relative;
  height: 30vh;
  background-image: url(/img/bydgoszcz-418818_1920.jpg);
  background-position: 0px 0px;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  background-size: cover;
  background-attachment: fixed;
}

#aboutus-hero .jumbotron .row {
  min-width: 100%;
}

#aboutus-hero .jumbotron .row h2 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

#services .jumbotron {
  text-align: center;
  background-color: #f7f7f7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#services .jumbotron .container,
#services .jumbotron .section-title {
  margin-bottom: 25px;
}

#Opinion h2 {
  text-transform: uppercase;
  text-align: center;
  color: #0c0c0c;
}

#contact .jumbotron {
  position: relative;
  background-image: url(../img/woman-801872_1280.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

#contact .jumbotron h2 {
  color: #f7f7f7;
  font-weight: bold;
  text-align: center;
}

#contact .jumbotron .underline {
  background-color: #ccc;
}

#contact .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.85);
  z-index: -10;
}

#contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f7f7f7;
}

#contact .contact-us .contact-item {
  margin: 30px 0;
}

#contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact .contact-us .contact-item .social-media {
  font-size: 26px;
}

#contact .contact-us .contact-item .social-media a {
  padding: 10px;
  color: #f9f9f9;
  text-shadow: 0 0 5px black;
}

#contact .contact-us .contact-item .social-media a:hover {
  color: #f7f7f7;
}

footer p {
  color: #000;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */
