@import reset

 
html
   scroll-behavior: smooth 

body 
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #272727




.wrapper
    max-width: 2556px
    width: 80%
    margin: auto


.jumbotron
    margin: 0
  

    .image
        max-width: 100%;

.scroll-fix::before
    display: block
    margin-top: -83.35px
    height: 83.35px
    content: ''
.visibility
     visibility: hidden 
// Nawigacja

nav 
    transition:  background-color .5s
    text-transform: uppercase
    
    max-width: 100%
    margin: 0%  
    
    a, i 
        color: red
        text-decoration: none
        transition:  color .6s
        font-size: 100%
        font-weight: bold
        
    
        
       

        
        

    a:hover 
        color: #53190e
       

    i 
        padding: 30px

    .navbar-brand
        
        font-weight: bold
    
    .navbar-brand img 
        margin-top: 10px
        
        max-width: 100px
        
    .active
        color: #5917f3
    .fixed-top 
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
  

    
.shadow-bg
    background-color: #f7f7f7 
  

    
// HEADER 
header 
    color: #791919

    //nie ucieka nam tekst po stronie
    overflow: hidden

    h1
        
        padding: 10px
        text-transform: uppercase
        font-size: 230px
        color: #ffffff
        visibility: 70%
    .hero-img
        position: relative  
        height: 100vh
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-position: 0px 0px
        filter: brightness(75%)
        background-size: cover
        background-attachment: fixed
        z-index: 0
    


    
        
    .hero-text
        color: #f7f7f7fd
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 98%
        text-align: center
        h1
            font-size: 20px
            padding: 15px;
        p
            padding: 10px
            font-size: 14px
        
            





//about us
#aboutus1
    .jumbotron 
        position: relative;
        height: 40vh
        background-position: 0px 0px; 
        background-size: cover
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-attachment: fixed

#aboutus
    .jumbotron 
        background-color:#f7f7f7 
       
        
        
        

    .fit-image
        max-width: 100%;
#aboutus-hero
    .jumbotron 
        position: relative  
        height: 30vh
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-position: 0px 0px
        filter: brightness(75%)
        background-size: cover
        background-attachment: fixed
        z-index: 0

#services
    .jumbotron 
       text-align: center
       background-color:#f7f7f7
       align-items: center
       .container, .section-title
          
           margin-bottom: 25px
           
           
        
      
       
        
        
    