@import reset

 
html
   scroll-behavior: smooth 

body 
    position: relative
    font-family: 'Montserrat', sans-serif
    background-color: #be9797




.wrapper
    max-width: 2556px
    width: 80%
    margin: auto


.jumbotron
    margin: 0
  

    .image
        max-width: 100%;

.scroll-fix::before
    display: block
    margin-top: -83.35px
    height: 83.35px
    content: ''
.visibility
     visibility: hidden 
// Nawigacja

nav 
    transition:  background-color .5s
    text-transform: uppercase

    margin: 0% 10% 0 
    
    a, i 
        color: #F2EDE4
        text-decoration: none
        transition:  color .6s
        font-size: 130%
        font-weight: bold
        
        
       

        
        

    a:hover 
        color: #A62B1F
       

    i 
        padding: 30px

    .navbar-brand
        
        font-weight: bold
    
    .navbar-brand img 
        margin-top: 10px
        
        max-width: 100px
        
    .active
        color: #a79ea2
    .fixed-top 
        
        top: 100px
        right: 0
        left: 0
  

    
// HEADER 
header 
    color: #F2EDE4

    //nie ucieka nam tekst po stronie
    overflow: hidden

    h1 
        
        padding: 10px
        text-transform: uppercase
        font-size: 30px
    .hero-img
        position: relative  
        height: 100vh
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-position: center 
        background-size: cover
        background-attachment: fixed
        z-index: 0
   

    
        
    .hero-text
        color: #e6e6e6fd
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 100%
        text-align: center
        p
            padding: 10px
            font-size: 14px

//about us

#aboutus
     
       
        
        
        

    .fit-image
        max-width: 100%;