@import reset

 
html
   scroll-behavior: smooth 

body 
    position: relative
    font-family: 'Montserrat', sans-serif
   


h2
    text-transform: uppercase
    text-align: center

.wrapper
    max-width: 2556px
    width: 80%
    margin: auto


.jumbotron
   
    margin: 0
    
  

    .image
        max-width: 100%;

.scroll-fix::before
    display: block
    margin-top: -83.35px
    height: 83.35px
    content: ''
.underline
    margin: 0 auto 40px
    width: 60px
    height: 4px
    background-color: red 
     
// Nawigacja

nav 
    transition:  background-color .5s
    text-transform: uppercase
    justify-content: center

    
    a, i 
        color:#080808 
        text-decoration: none
        transition:  color .6s
        font-size: 20px
        font-weight: bold 
               
    a:hover 
        color: #000000 
       
    i 
        padding: 30px

    .navbar-brand
        
        font-weight: bold
    
    .navbar-brand img 
        margin-top: 10px
        
        max-width: 100px
        
    .active
        color: #5917f3
    .fixed-top 
        position: fixed
        top: 0
        
        left: 0
  

    
.shadow-bg
    background-color: #f7f7f7 
  
//price content
    
#prices
    background-color: #f9f9f9 
   
    

    .jumbotron
        
       
        
        background-color: #f9f9f9 
        h100vh
      
        .wrapper
            max-width: 2560px
            width: 85%
            margin: 0 auto
        .price-box
            margin: 20px 10px
            padding: 30px
            background-color: #fff
            box-shadow: 5px 5px 5px rgba(156, 146, 146, 0.6)
            transition: transform .3s
        h2
            font-size: 34px
            margin-top: 80px
        span
            font-weight: bold
        
            
    
    
       

        
      
        
    
    
   
    
// HEADER 
header 
    color: #791919

    
    overflow: hidden
 

    h1
        
        padding: 10px
        text-transform: uppercase
        font-size: 230px
        color: #ffffff
        visibility: 70%
    .hero-img
        position: relative
        height: 66vh
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-position: center
        background-size: cover
        background-attachment: fixed
        z-index: 0
        
    .hero-img-price
        position: relative
        height: 100vh
        background-image: url(/img/work-5382501_1280.jpg)
        background-position: 0 0 
        background-size: cover
        background-attachment: fixed
        z-index: 0

    .hero-text
        color: #f7f7f7fd
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 98%
        text-align: center
        h1
            font-size: 20px
            padding: 15px;
        p
            padding: 10px
            font-size: 14px
   
      
      
        
            





//about us


#aboutus
    .jumbotron 
        
        background-color:#f7f7f7 
    .fit-image
        max-width: 100%;
#aboutus-hero
    .jumbotron 
        position: relative  
        height: 30vh
        background-image: url(/img/bydgoszcz-418818_1920.jpg)
        background-position: 0px 0px
        filter: brightness(75%)
        background-size: cover
        background-attachment: fixed
            
        .row
            min-width: 100%
            h2
                text-transform: uppercase
                text-align: center
                color: #fff

#services
    .jumbotron 
       text-align: center
       background-color:#f7f7f7
       align-items: center
       .container, .section-title
          
           margin-bottom: 25px
           
#Opinion
   
    .jumbotron
       
    h2
        text-transform: uppercase
        text-align: center
        color: #0c0c0c


// KONTAKT
#contact
    .jumbotron
        position: relative
        background-image: url(../img/woman-801872_1280.jpg)
        background-position: bottom
        background-attachment: fixed
        background-size: cover
        z-index: 0

        h2
            color: #f7f7f7 
            font-weight: bold
            text-align: center

        .underline
            background-color: #ccc


    .contact-shadow
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background-color: rgba(0,9,27,.85)
        z-index: -10

    .contact-us
        display: flex
        align-items: center
        color: #f7f7f7 

        .contact-item
            margin: 30px 0

            h3
                margin-bottom: 15px
                text-transform: uppercase
                letter-spacing: 2px

            .social-media
                font-size: 26px

                a
                    padding: 10px
                    color: #f9f9f9
                    text-shadow: 0 0 5px black

                a:hover
                    color: #f7f7f7 
          
footer 
    

    p   
        color: #000
        background-color: #f9f9f9
        padding: 20px
        margin-bottom: 0
        text-align: center


      
   
        
    
           

       
           
           
        
      
       
        
        
    